!!! XML
!!! 1.1
%html{"xml:lang" => "ja", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = `haml header.haml`
    %title Oink Games
  %body
    .wrappaer
      .contents
        .title
          %a{:href => "index.html"}
            %img{:src => "images/logo.png"}
          
        .about
          .about-top
            %table
              %tr
                %td 社名
                %td ：
                %td 株式会社オインクゲームズ
              %tr
                %td 代表者
                %td ：
                %td 佐々木隼
              %tr
                %td 設立
                %td ：
                %td 2010年5月26日
              %tr
                %td 資本金
                %td ：
                %td 1,000,000円
              %tr
                %td 業務内容
                %td ：
                %td ゲームのデザイン・制作・販売 / アニメーション制作 / 映像制作

          .about-middle
            %hr
          .about-bottom
            .address
              所在地：151-0064<br />
              東京都渋谷区上原２丁目32-3<br />
              Y-2 yamagataya bldg 202号室
            .button
              - name = 'map'
              %a{:href => "http://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E4%B8%8A%E5%8E%9F2%E4%B8%81%E7%9B%AE32-3&hl=ja&ie=UTF8&sll=36.5626,136.362305&sspn=37.116648,67.236328&brcurrent=3,0x6018f345d01c1b7b:0x8c19f404271db696,0,0x6018f345d15458ef:0x4a5eb7711fdf128f&z=16",
                :onmouseover => "document.btn_#{name}.src='images/btn_map_on.png';",
                :onmouseout  => "document.btn_#{name}.src='images/btn_map.png';",
                :onmousedown => "document.btn_#{name}.src='images/btn_map_down.png';",
                :onmouseup   => "document.btn_#{name}.src='images/btn_map.png';"}
                %img{:name => "btn_#{name}", :src => "images/btn_map.png"}

        #footter
          = `haml footer.haml`
